* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 200vh;
}

/* NAVBAR */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  z-index: 1000;
}

header.scrolled {
  background: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

nav a {
  text-decoration: none;
  color: #000;
  position: relative;
  padding-bottom: 5px;
}

/* YELLOW UNDERLINE */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #f2c94c;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

#particles-js {
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085") center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

/* HERO CONTENT */
.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  color: #fff;
  font-size: 70px;
  letter-spacing: 8px;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.services {
  padding: 120px 100px;
  background: #fff;
}

.section-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 80px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 100px;
}

.service-box i {
  font-size: 36px;
  color: #222;
  margin-bottom: 25px;
}

.service-box h3 {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.service-box p {
  color: #9a9a9a;
  font-size: 15px;
  line-height: 1.8;
  max-width: 320px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .services {
    padding: 80px 40px;
  }

  .services-grid {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

.about{
  margin: 140px ;
}
h1{
  font-size: 56px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.description{
  font-size: 20px;
  color: #727272;
  line-height: 34px;
  width: 900px;
  margin-top: 20px;

}
.resume-btn{
  border: none;
  background-color: white;
  margin-top: 20px;
  font-weight: 500;
  padding: 10px 0px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  line-height: 12px;
}
.resume-btn::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
background-color: #f2c94c;
transition: height 0.4s ease;
z-index: -1;

}
.resume-btn:hover::after{
  height: 100%;
  
}
.resume-btn:hover {
  transform: translateY(-2px);
}

.portfolio {
  width: 90%;
  margin: 60px auto;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-bottom: 40px;
  cursor: pointer;
}

.filters li {
  color: #999;
}

.filters li.active {
  color: #000;
  border-bottom: 2px solid #f1c40f;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project {
  cursor: pointer;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project span {
  color: #f1c40f;
  font-size: 13px;
}

.project h3 {
  font-size: 18px;
  margin-top: 5px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  width: 600px;
  max-width: 90%;
  padding: 20px;
  position: relative;
}

.modal-content img {
  width: 100%;
  margin-bottom: 15px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.view-btn {
  display: inline-block;
  margin-top: 15px;
  color: #f1c40f;
  text-decoration: none;
  font-weight: bold;
}